#myChart{
    margin-left: -30%;
}

.head-rank-pic{
    width: 60%;
    height: 60%;
    margin-left: -20%;
}

.rank-people-name{
    margin-top: 2%;
    margin-left: -8%;
}

.activity-rank{
    margin-top: 1%;
}

.rank-encourage{
    color: #999;
}