.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-header{
    background: white;
    width: 100%;
    height: 70px;
}
.left-sidebar{
    background: whitesmoke;
    padding-bottom: 15%;
}
.content-wrapper {
    position: relative;
    margin-left: 16%;
    margin-top: 0.3%;
    width: 65%;
    height: 100%;

}

.logo-normal {
    font-size: 30px;
}

.top-nav {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
    margin-right: 5%;
}

.panel-group {
    margin-top: 5%;
}

.ibox {
    width: 99%;
    margin-top: 1%;
    padding: 1%;
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #676a6c;

}

.ibox-content {
    clear: both;
}
.ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.head-img {
    width: 120px;
    height: 120px;
    margin-left: 30px;
    border: solid 3px white;
}
.nickname-div{
    height: 26px;
}
.user-work{
    padding-left: 10px;
}



#collapseListGroup1,#collapseListGroup2,#collapseListGroup3,#collapseListGroup4{
    text-align: center;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 0;
}
#accordion .panel-heading{
    padding: 0;
    border-radius: 0;
    border: none;
}
#accordion .panel-title a{
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #9087e1;
    text-align: center;
    padding: 15px 48px 15px 20px;
    background:  whitesmoke;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a:hover{
    font-size: 21px;
    color: #9b93f2;
}


.title-info{
    margin-right: 20%;
    margin-bottom: 1%;
}

.title-browse{
    padding-right: 5%;
}
.title-remark{
    padding-left: 4%;
}

.content-img{
    width: 80%;
    height: 80%;
    margin-left: 15%;
}
.content-word{
    margin-left: -5%;
}
.with-pic-div{
    margin-bottom: 2%;
}
.title-introduce{
    font-size: 13px;
    letter-spacing: 1px;
}


.allShare-topic-next{
    margin-top: -3%;
}
.allShare-topic-sort{
    color: #999;
    font-size: 13px;
}


.friendList-oneRow{
    background: #f3f3f4;
    width: 100%;
    height: 120%;

}
.friendList-friend-pic{
    width: 4%;
}
.friends-search{
    margin-top: 2%;
}
#add-friend{
    margin-top: 4%;
}


/*朋友圈*/
.socialCircle-send{
    margin-left: -3%;
}
.socialCircle-refresh{
    padding-left: 3%;
}
.socialCircle-head-img{
    width: 80.5%;
    height: 45px;
}
.socialCircle-sendDate{
    color: #888;
    font-size: 90%;
}
.socialCircle-basic{
    margin-left: -3%;
}
.socialCircle-name{
    font-size: 130%;
}
/*"open sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
.socialCircle-word{
    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #676a6c;
}
.socialCircle-remark-btn{
    margin-left: -3%;
}
.socialCircle-table{
    background: whitesmoke;
    margin-top: 1%;
}
.socialCircle-td{
    border-top: none !important;
}
.socialCircle-content-img{
    padding: 1%;
}


/*makePlan*/
.makePlan-todo-list{
    margin-left: 2%;
}
.makePlan-left-add{
    background: rgba(0, 0, 0, 0.026);
    border-right: 1px solid #DDD;;
}
.makePlan-right-tasks{

}
.makePlan-list-item{
    background: white !important;
}
.makePlan-list-item:hover{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5 !important;
}
.makePlan-add-btn{
    color: white;
    background-color: #101215 !important;
    border-color: #101215;
}
.makePlan-add-btn:hover{
    color: white !important;
}
.makePlan-content-input{
    margin-top: 2%;
    margin-bottom: 4%;
}
.makePlan-type-choose{
    margin-top: 2%;
}
.makePlan-task-item{
    background: #FFF;
    border-left: 3px solid #FFF;
    margin-bottom: 10px;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.makePlan-first-task{
    margin-top: 3%;
}
.makePlan-next-task{
    margin-top: 10%;
}
.makePlan-task-text{
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
}
.makePlan-task-footer{
    float: left;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    background: #f8f8f8;;
    padding-right: 2%;
}
.task-status-success:hover{
    color: #706ef7;
}
.task-status-cancel{
    margin-right: 2%;
}
.makePlan-task-completed{
    background: #FFF2C5;
}
.makePlan-separate-line{
    border-right: 1px solid #DDD;
}

/*任务左边颜色的设定*/
.makePlan-task-default{
    border-left-color: #1b1e24;
}
.makePlan-task-success{
    border-left-color: #95b75d;
}




html{
    overflow-x: hidden;
}


p{
    text-indent: 2em;
}

a{
    text-decoration:none;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}

a:active{
    text-decoration:none;
}
a:hover,a:focus{
    text-decoration: none;
    outline: none;

}



/*该写bootstrap属性*/
.list-group-item{
    background: whitesmoke;

}

