label{
    font-weight: 500;
}

.name-tip{
    font-size: 12px;
    color: #808080;
}

.validate-btn{
     margin-left: -10%;
 }

.register-bottom-agree{
    margin-top: 3%;
}

.register-button{
    width: 30%;
}

hr{
    border-top: 2px solid #eee;
}
.bottom-hr{
    margin-top: 2%;
    margin-bottom: 8px;
}
.bottom-declare{
    color: #999;
}
